<strong>Ol치, {{ provider }} </strong>
<p>Houve um cancelamneto de hor치rio, confira os detalhes abaixo. </p>
<p>
  <strong> Cliente:  </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <smal>
    o hor치rio est치 novamente disponivel para novos agendamentos.
  </smal>
</p>